/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.robot-window {
  position: relative;
  background-image: url(../assets/images/floor.jpg);
  background-size: 50%;
  .middle-box {
    position: absolute;
    width: 100%;
    .robot-table {
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-size: 16px;
      font-weight: bold;
      th {
        text-align: center;
      }
      .cell-square {
        background-color: yellow;
        height: 100px;
        width: 100px;
        border: 1px solid #000;
        .robot-indicator {
          position: relative;
          width: 100%;
          height: 100%;
          img.robot-toy {
            margin: 15px;
            position: absolute;
          }
          .robot-arrow {
            position: absolute;
          }
          .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid black;
            margin: 2.5px 30px;
            top: 0;
          }
          .arrow-down {
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid black;
            margin: 2.5px 30px;
            bottom: 0;
          }
          .arrow-right {
            width: 0; 
            height: 0; 
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid black;
            margin: 30px 2.5px;
            right: 0;
          }
          .arrow-left {
            width: 0; 
            height: 0; 
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right:15px solid black;
            margin: 30px 2.5px;
            left: 0;
          }
        }
      }
    }
  }
  .bottom-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    margin: 10px 0;
    .pre-rotate {
      position: absolute;
      
    }
    .play-box {
      right: 22%;
      left: 10px;
      height: 35px;
      top: 35px;
      position: absolute;
      button {
        width: 20%;
        float: left;
        height: 100%;
      }
    }
    .message-box {
      text-align: center;
      width: 20%;
      right: 10px;
      height: 70px;
      background-color: #fff;
      border: 1px solid #000;
      position: absolute;
      overflow-y: scroll; 
    }
    button[disabled=disabled], button:disabled {
      opacity:0.7;
    }
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
