    <div class="robot-window game-window">
      <div>
        <div class="middle-box">
          <table class="robot-table">
            <tr ng-repeat="row in robot.table">
              <td ng-repeat="cell in row">
                <div class="cell-square" ng-click="place(cell)">
                  <!--<i class="glyphicon" ng-class="{'glyphicon-triangle-right' : robot.direction=='east', 'glyphicon-triangle-left' : robot.direction=='west', 'glyphicon-triangle-down' : robot.direction=='south', 'glyphicon-triangle-up' : robot.direction=='north'}"></i>-->
                  <span class="robot-arrow" ng-class="{'arrow-up' : robot.direction=='north', 'arrow-right' : robot.direction=='east', 'arrow-left' : robot.direction=='west', 'arrow-down' : robot.direction=='south'}" ng-show="cell.filling"></span>
                  <img class="robot-toy" ng-show="cell.filling" src="assets/images/chips/10chip.jpg" height="48" width="48"></img>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="bottom-box">
            <div class="play-box">
                <button type="button" ng-click="place()" class="btn-primary btn-large">Place</button>
                <button type="button" ng-click="move()" ng-disabled="" class="btn-primary btn-large">Move</button>
                <button type="button" ng-click="rotate(left)" ng-disabled="" class="btn-primary btn-large">Left</button>
                <button type="button" ng-click="rotate(right)" ng-disabled="" class="btn-primary btn-large">Right</button>
                <button type="button" ng-click="report()" ng-disabled="" class="btn-primary btn-large">Report</button>
            </div>
            <div class="message-box">
                {{robot.message}}
            </div>
        </div>
      </div>
    </div>